<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{aboutPageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Will be right back</h1>
    <p>The site is currently being updated</p>
</body>

</html>